[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "*"
numpy = "*"
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
scipy = "*"

[dev-packages]
complex-systems = {editable = true,path = "."}

[requires]
python_version = "3.7"
