html {
  font-family: 'Helvetica Neue';
  color: #333;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.rc-slider {
  width: 150px;
  padding: 10px:
}

.sliders-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sliders-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sliders-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
